@import url(variables.css);
@import url(css-reset.css);

* {
	font-family: var(--main-font-family);
}

body,
#app {
	background-color: var(--dark-color);
}

#app {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	background-color: var(--white-color);
	border-radius: var(--section-border-radius);
}

section#employee-login,
section#employee-register {
	/* flex-grow: 1; */
	width: fit-content;
	padding: var(--section-border-radius);
	margin-bottom: var(--header-footer-inside-margin);
}

section#employee-login h1,
section#employee-register h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.5rem;
	font-family: var(--loud-font-family);
}

section#employee-login form,
section#employee-register form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#employee-login form button,
section#employee-register form button {
	margin-top: 0.5rem;
}
