@import url(brand-variables.css);
@import url(spacing-variables.css);
@import url(css-reset.css);

* {
	font-family: var(--main-font-family);
}

body,
#app {
	background-color: var(--dark-color);
}

#app {
	margin: 0;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	background-color: var(--white-color);
	border-radius: var(--section-border-radius);
	width: var(--section-width);
	margin-top: calc(10vh + var(--header-footer-inside-margin));
	margin-bottom: var(--call-to-action-bar-height);
}

@media only screen and (min-width: 768px) {
	#app {
		height: 100%;
	}

	section {
		margin-bottom: var(--header-footer-inside-margin);
	}
}

div#order-details-wrapper, section#employee-order-view-section{
	max-width: 70rem;
}

section.customer-section#my-account,
section.employee-section:not(#specialty-pizzas) {
	max-width: 40rem;
}

section.customer-section#order-section,
section.customer-section#menu-section {
	max-width: 60rem;
}


div#order-confirmation,
section div.pending-order-wrapper,
section.employee-section#employee-login form,
section.customer-section#my-account form,
section.employee-section#employee-register form,
section.employee-section#specialty-pizzas div.table-wrapper,
section.employee-section#pizza-options div.pizza-options-wrapper,
section.customer-section#menu-section div.menu-wrapper,
section.customer-section#order-section div.order-wrapper,
section.customer-section#checkout-section div.checkout-inputs,
section.customer-section#build-your-own-pizza-section form {
	margin: var(--section-border-radius) auto;
	background-color: var(--white-color);
	border-radius: var(--section-border-radius);
	padding: 0.5rem;
}

section.customer-section#my-account form,
section.employee-section#employee-login form,
section.employee-section#employee-register form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 24rem;
}

section h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.5rem;
	font-family: var(--loud-font-family);
}

section.employee-section form button {
	margin-top: 0.5rem;
}

i.employee-button-icon {
	padding: 5px;
	border-radius: 5px;
	color: var(--white-color);
	font-size: 0.9rem;
}

i.employee-button-icon:not(.icon-hide) {
	background-color: var(--dark-color);
	cursor: pointer;
}

i.icon-hide {
	background-color: var(--white-color) !important;
}

/* from tachyons.io */
.grow {
	transition: transform 0.125s ease-out;
}

.grow:focus {
	transform: scale(1.05);
}

.grow:active {
	transform: scale(0.9);
}

@media (hover: hover) {
	.grow:hover {
		transform: scale(1.05);
	}

	.jump:hover {
		transform: translateY(-2px);
		transition: transform 0.125s ease-out;
	}
}
