@import url(variables.css);
@import url(css-reset.css);

* {
	font-family: var(--main-font-family);
}

body,
#app {
	background-color: var(--dark-color);
}

#app {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	background-color: var(--white-color);
	border-radius: var(--section-border-radius);
}

section.employee-section:not(#pizza-options) {
	margin-bottom: var(--header-footer-inside-margin);
	background-image: url("https://img.freepik.com/premium-vector/pizza-seamless-pattern_373337-10.jpg?w=826");
	min-width: fit-content;
	width: 50%;
}

section.employee-section#employee-login,
section.employee-section#employee-register {
	max-width: 40rem;
}

section.employee-section#employee-login form,
section.employee-section#employee-register form,
section.employee-section#pizza-options div.table-wrapper {
	margin: var(--section-border-radius) auto;
	background-color: var(--white-color);
	border-radius: var(--section-border-radius);
	padding: 0.5rem;
}

section.employee-section#employee-login form,
section.employee-section#employee-register form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 24rem;
}

section.employee-section h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.5rem;
	font-family: var(--loud-font-family);
}

section.employee-section form button {
	margin-top: 0.5rem;
}
